Repository ChaosKyle/alloy-dynamic-processors: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, alloy-config-validation, trivy-config-scan

Path conditions:
  helm-lint: any of: ^alloy/helm/.*/(Chart\.yaml|values\.yaml|templates/.*)$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  node_modules/.*|
  \.tmp/.*|
  tmp/.*
)$
  alloy-config-validation: any of: ^alloy/configs/.*\.river$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  node_modules/.*|
  \.tmp/.*|
  tmp/.*
)$
  trivy-config-scan: any of: ^(alloy/helm/|\.github/workflows/|alloy/processors/.*/Dockerfile).*$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  node_modules/.*|
  \.tmp/.*|
  tmp/.*
)$

cleanup
  README.md
Due: none

✅ Complete Task 1.6: Operational Runbooks - v1.6
  ENTERPRISE_TASKS.md
Due: none

✅ Complete Task 1.7: API Documentation - v1.7
  ENTERPRISE_TASKS.md
  docs/API_DOCUMENTATION.md
  docs/API_SPECIFICATION.yaml
Due: none

✅ Complete Task 1.8: Performance Benchmarking - v1.8
  ENTERPRISE_TASKS.md
  docs/CAPACITY_PLANNING.md
  scripts/performance/README.md
  scripts/performance/k6-load-test.js
  scripts/performance/run-benchmarks.sh
Due: none

✅ Complete Task 1.9: Comprehensive Monitoring Dashboards - v1.9
  ENTERPRISE_TASKS.md
  monitoring/README.md
  monitoring/alerts/alert-rules.yaml
  monitoring/dashboards/cost-analytics.json
  monitoring/dashboards/performance-metrics.json
  monitoring/dashboards/security-metrics.json
  monitoring/dashboards/service-health-overview.json
Due: none

✅ Complete Task 2.1: Multi-Tenant Configuration Framework - v2.1
  ENTERPRISE_TASKS.md
  alloy/configs/multi-tenant.alloy
  alloy/helm/alloy-dynamic-processors/examples/values-multi-tenant.yaml
  alloy/helm/alloy-dynamic-processors/templates/tenant-configmap.yaml
  alloy/helm/alloy-dynamic-processors/templates/tenant-cost-attribution.yaml
  alloy/helm/alloy-dynamic-processors/templates/tenant-rbac.yaml
  alloy/helm/alloy-dynamic-processors/values.yaml
  docs/MULTI_TENANT_GUIDE.md
Due: helm-lint, trivy-config-scan

✅ Complete Task 2.3: Multi-Provider AI Support - Enterprise AI Architecture
  ENTERPRISE_TASKS.md
  alloy/helm/alloy-dynamic-processors/templates/auth-service-deployment.yaml
  alloy/helm/alloy-dynamic-processors/values.yaml
  alloy/processors/ai_sorter_v2/.env.example
  alloy/processors/ai_sorter_v2/Dockerfile
  alloy/processors/ai_sorter_v2/README.md
  alloy/processors/ai_sorter_v2/config/settings.py
  alloy/processors/ai_sorter_v2/docker-compose.yml
  alloy/processors/ai_sorter_v2/main.py
  alloy/processors/ai_sorter_v2/providers/ai_provider_manager.py
  alloy/processors/ai_sorter_v2/providers/claude_provider.py
  alloy/processors/ai_sorter_v2/providers/grok_provider.py
  alloy/processors/ai_sorter_v2/providers/openai_provider.py
  alloy/processors/ai_sorter_v2/requirements.txt
  alloy/processors/ai_sorter_v2/utils/health_checker.py
  alloy/processors/ai_sorter_v2/utils/metrics.py
  auth/README.md
  auth/ldap-service/Dockerfile
  auth/ldap-service/auth/audit_logger.py
  auth/ldap-service/auth/jwt_manager.py
  auth/ldap-service/auth/ldap_client.py
  auth/ldap-service/auth/rbac_engine.py
  auth/ldap-service/auth/saml_client.py
  auth/ldap-service/config/settings.py
  auth/ldap-service/main.py
  auth/ldap-service/requirements.txt
  docs/ENTERPRISE_AUTHENTICATION_GUIDE.md
Due: helm-lint, trivy-config-scan

✅ Complete Task 2.4: AI Model Versioning and Management - Enterprise ML Lifecycle
  ENTERPRISE_TASKS.md
  alloy/processors/ai_sorter_v2/docs/MODEL_MANAGEMENT_GUIDE.md
  alloy/processors/ai_sorter_v2/models/ab_testing.py
  alloy/processors/ai_sorter_v2/models/model_manager.py
  alloy/processors/ai_sorter_v2/models/model_updater.py
  alloy/processors/ai_sorter_v2/models/model_version.py
  alloy/processors/ai_sorter_v2/models/performance_monitor.py
Due: none

docs: add repo governance files and comprehensive overview
  .editorconfig
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODEOWNERS
  LICENSE
  docs/overview.md
Due: none

ci: enhance CI/CD with comprehensive testing and release automation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: trivy-config-scan

feat: add production-hardened containers and orchestration
  .dockerignore
  Makefile
  containers/ai-sorter.Dockerfile
  containers/alloy.Dockerfile
  docker-compose.yaml
  monitoring/tempo.yaml
Due: none

feat: enhance Helm chart with production-ready features
  alloy/helm/alloy-dynamic-processors/templates/NOTES.txt
  alloy/helm/alloy-dynamic-processors/templates/hpa.yaml
  alloy/helm/alloy-dynamic-processors/templates/networkpolicy.yaml
  alloy/helm/alloy-dynamic-processors/templates/pdb.yaml
Due: helm-lint, trivy-config-scan

docs: add production readiness status document
  PRODUCTION_READINESS_STATUS.md
Due: none

feat: production-harden AI sorter with comprehensive resilience patterns
  alloy/processors/ai_sorter/Dockerfile
  alloy/processors/ai_sorter/ai_sorter.py
  alloy/processors/ai_sorter/requirements.txt
Due: trivy-config-scan

feat: add comprehensive observability and end-to-end testing
  Makefile
  monitoring/alerts/alloy-alerts.yaml
  monitoring/grafana/dashboards/ai-sorter-performance.json
  monitoring/grafana/dashboards/alloy-pipeline-health.json
  monitoring/grafana/provisioning/dashboards/dashboards.yaml
  monitoring/grafana/provisioning/datasources/datasources.yaml
  monitoring/prometheus.yml
  scripts/test-e2e.sh
Due: none

docs: add comprehensive release engineering and documentation
  CHANGELOG.md
  README.md
  docs/DECISIONS.md
  docs/MIGRATION.md
  docs/release.md
Due: none

Update README.md
  README.md
Due: none
